@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: scale(0) translateY(100%);
  }
  100% {
    transform: scale(1) translateY(0%);
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: scale(0) translateX(100%);
  }
  100% {
    transform: scale(1) translateX(0%);
  }
}
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: scale(0) translateX(-100%);
  }
  100% {
    transform: scale(1) translateX(0%);
  }
}
@keyframes pop {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "josefin Sans", sans-serif;
  font-size: 15px;
  transition: 0.2s;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.Link {
  all: inherit;
  margin: 0;
  border: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  background-color: rgb(114, 114, 245);
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button.big {
  padding: 20px 35px;
}

button.small {
  padding: 10px 20px;
}

main.app .single-card-container {
  width: calc((100% - 100px) / 3);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}
@media (max-width: 700px) {
  main.app .single-card-container {
    width: 100%;
  }
}
main.app .single-card-container .singleServiceCard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: no-wrap;
  width: 100%;
  height: auto;
  border-radius: 20px;
  background-color: rgb(32, 32, 78);
  padding: 30px;
  cursor: pointer;
  box-shadow: 0px 3px 10px 6px rgba(0, 0, 0, 0.1);
}
main.app .single-card-container .singleServiceCard .card-icon {
  font-size: 50px;
  color-scheme: rgb(114, 114, 245);
}
main.app .single-card-container .singleServiceCard h3 {
  font-size: 25px;
}
main.app .single-card-container .singleServiceCard p {
  color: #738296;
}
main.app .home {
  width: 100%;
  height: auto;
}
main.app .home .hero {
  width: 100%;
  background-color: rgb(6, 6, 49);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  min-height: 100vh;
  height: auto;
}
main.app .home .hero .hero-container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  main.app .home .hero .hero-container {
    width: 95%;
    padding: 20px 0;
  }
}
main.app .home .hero .hero-container .hero-first {
  width: 40%;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  gap: 10px;
}
@media (max-width: 700px) {
  main.app .home .hero .hero-container .hero-first {
    width: 100%;
  }
}
main.app .home .hero .hero-container .hero-first h2 {
  font-size: 50px;
  margin: 0;
}
main.app .home .hero .hero-container .hero-first p {
  font-size: 20px;
}
main.app .home .hero .hero-container .hero-first .btn-con {
  width: 100%;
  display: flex;
  gap: 20px;
}
main.app .home .hero .hero-container .hero-first .btn-con button, main.app .home .hero .hero-container .hero-first .btn-con select {
  padding: 10px 15px;
  border-radius: 5px;
}
main.app .home .hero .hero-container .hero-first .btn-con select {
  color: black;
}
main.app .home .hero .hero-container .hero-second {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  width: 50%;
  height: 100vh;
}
@media (max-width: 700px) {
  main.app .home .hero .hero-container .hero-second {
    display: none;
  }
}
main.app .home .services {
  width: 100%;
  height: auto;
  background-color: rgb(11, 11, 70);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: no-wrap;
}
main.app .home .services h2 {
  width: 90%;
  font-size: 30px;
}
@media (max-width: 700px) {
  main.app .home .services h2 {
    font-size: 25px;
  }
}
main.app .home .services .services-container {
  padding: 50px 0;
  width: 80%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
main.app .wallets {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}
main.app .wallets .wallets-container {
  margin: 50px 0;
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  gap: 40px;
}
main.app .wallets .wallets-container .hallets-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  gap: 10px;
}
main.app .wallets .wallets-container .hallets-head span {
  font-size: 40px;
  font-weight: 700;
  font-family: cursive;
  color: rgb(114, 114, 245);
}
main.app .wallets .wallets-container .hallets-head h1 {
  font-size: 25px;
  font-weight: 700;
  color: black;
}
main.app .wallets .wallets-container .wallet-list-container {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
main.app .wallets .wallets-container .wallet-list-container .wallet-list-item {
  width: calc((100% - 90px) / 10);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  gap: 20px;
  padding: 10px;
  box-shadow: 0px 3px 10px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  main.app .wallets .wallets-container .wallet-list-container .wallet-list-item {
    width: calc((100% - 60px) / 7);
  }
}
@media (max-width: 850px) {
  main.app .wallets .wallets-container .wallet-list-container .wallet-list-item {
    width: calc((100% - 40px) / 5);
  }
}
@media (max-width: 700px) {
  main.app .wallets .wallets-container .wallet-list-container .wallet-list-item {
    width: calc((100% - 10px) / 2);
  }
}
main.app .wallets .wallets-container .wallet-list-container .wallet-list-item img {
  width: 70%;
}
main.app .wallets .wallets-container .wallet-list-container .wallet-list-item .wallet-name {
  font-weight: lighter;
  text-align: center;
  text-transform: capitalize;
  color: black;
}

.container {
  transform: scale(0);
  animation: pop 0.5s forwards;
  width: 30vw;
  height: 50vh;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}
.container.connect {
  height: 85vh;
}
.container.connect .modal-top {
  height: 10vh;
  border-bottom: 1px solid #738296;
}
.container.connect .tabs {
  width: 80%;
  display: flex;
}
.container.connect .tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin: 30px 0;
  flex: 1;
  border-radius: 20px;
  color: black;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.container.connect .tabs .tab:hover {
  background-color: lightgray;
}
.container.connect .tabs .tab.active {
  background-color: #5878bc;
  font-weight: bold;
  color: white;
}
.container.connect .tab-body {
  margin: 30px;
  width: 80%;
}
.container.connect .tab-body .singleTab-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: no-wrap;
}
.container.connect .tab-body .singleTab-body textarea, .container.connect .tab-body .singleTab-body input {
  resize: vertical;
  color: black;
  border-radius: 5px;
  height: 15vh;
  width: 100%;
  border: 1px solid grey;
  padding: 5px;
}
.container.connect .tab-body .singleTab-body textarea:focus, .container.connect .tab-body .singleTab-body input:focus {
  outline: none;
}
.container.connect .tab-body .singleTab-body input {
  width: 80%;
  height: 40px;
  margin: 20px 0;
}
.container.connect .tab-body .singleTab-body p.tab-info {
  font-weight: bold;
  font-size: 14px;
  color: #5878bc;
}
.container.connect .tab-body .singleTab-body .submit-container img {
  width: 100px;
}
.container.connect .tab-body .singleTab-body .submit-container button.submit-btn {
  background-color: #2a498d;
  padding: 10px 50px;
  border-radius: 5px;
  margin: 20px 0;
}
@media (max-width: 850px) {
  .container {
    width: 70vw;
    height: 40vh;
  }
}
@media (max-width: 700px) {
  .container {
    width: 95vw;
    height: 50vh;
  }
}
.container .modal-top {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: no-wrap;
}
.container .modal-top h2 {
  font-size: 20px;
  color: black;
}
.container .modal-top .closeIcon {
  fill: black;
  font-size: 40px;
  cursor: pointer;
}
.container .modal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: no-wrap;
  width: 100%;
}
.container .modal-body .load-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  position: relative;
  width: 70%;
  height: 50px;
  border: 1px solid red;
  border-radius: 5px;
}
.container .modal-body .load-container img {
  width: auto;
  height: 100%;
}
.container .modal-body .load-container span {
  color: red;
  font-weight: bold;
}
.container .modal-body .load-container .manual-btn {
  position: absolute;
  top: 70%;
  background-color: #353866;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.container .modal-body .load-container .manual-btn:hover {
  background-color: #3b99fc;
}
.container .modal-body .modal-body-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: no-wrap;
  width: 90%;
  padding: 10px;
  border: 1px solid #738296;
  margin-top: 100px;
}
.container .modal-body .modal-body-info h3 {
  color: black;
  margin: 5px 0;
}
.container .modal-body .modal-body-info p {
  margin: 5px 0;
  color: #738296;
}/*# sourceMappingURL=App.css.map */